

html, body, .container, #sidebar-left, #mapContainer {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
}

#mapContainer{
  flex-grow: 1;
  background-color: blue;
  width: flex;
}

#sidebar-left {
  background: white;
  width: 250px;
  font-family: sans-serif;
  outline-width: medium;
  outline-color: black;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

}
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
