

html, body, #container, #sidebar-left, #mapContainer, #sidebar-right {
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
}

#mapContainer{
  flex-grow: 1;
}

#sidebar-left {
  background: white;
  width: 250px;
  font-family: sans-serif;
  outline-width: medium;
  outline-color: black;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

}
body {
  margin: 0;
  padding: 0;
}

#sidebar-right{
  background-color: light grey;
  right: 0;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#legend {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 30px;
  height: 20px;
  margin-left: 5px;
}
